.homefeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10em;
}

.post {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 46em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2em;
    border: 1px solid var(--border);
}

.post-header {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 4em;
    background-color: var(--background);
}

.post-header-left {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 0.5em;
}

.post-user-image {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 3em;
    height: 3em;
    padding: 0.2em;
    border-radius: 50%;
}

.post-user-image:hover {
    cursor: pointer;
}

.post-username {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text);
}

.post-username:hover {
    cursor: pointer;
    opacity: 0.7;
}

.post-glyph {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text);
}

.post-date {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text);
}

.post-header-right {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 0.2em;
}

.post-menu-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2em;
    background: none;
    border: none;
}

.post-menu-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.post-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25em;
    width: 30em;
    overflow: hidden;
}

.post-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.user-posted-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.post-image:hover > .post-image-container .user-posted-image {
    transform: scale(1.2);
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 11em;
    background-color: var(--background);
}

.post-content-left-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 0.2em;
}

.post-content-left-top-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 2em;
    height: 2em;
    padding: 0.2em;
}

.post-content-left-top-icon:hover, .post-content-right-top-icon {
    transition: all 0.2s ease;
}

.post-content-left-top-icon:hover, .post-content-right-top-icon:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

.post-content-right-top-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 20em;
    width: 2em;
    height: 2em;
    padding: 0.2em;
}

.post-likes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
}

.post-likes:hover {
    cursor: pointer;
}

.post-content-left-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -0.5em;
    left: 0.5em;
    width: 100%;
    height: 3em;
}

.post-username-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 0.3em;
    color: var(--text);
}

.post-username-text:hover {
    cursor: pointer;
    opacity: 0.7;
}

.post-text {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: 1em;
    left: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
    text-align: left;
}

.post-comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 6em;
    width: 100%;
    height: 3em;
}

.post-comments-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -0.5em;
    width: 100%;
    height: 3em;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.post-comments-header:hover {
    cursor: pointer;
}

.post-comment-input-characters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: -1.1em;
    width: 100%;
    height: 3em;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.post-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -0.2em;
    width: 100%;
    height: 3em;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}

.post-comment-username {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    padding-right: 0.3em;
    color: var(--text);
}

.post-comment-username:hover {
    cursor: pointer;
}

.post-comment-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text);
}

.post-comment-delete-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    left: 31.3em;
    width: 3em;
    height: 2em;
    background: none;
    border: none;
    color: var(--text-secondary);
}

.post-comment-delete-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.post-comment-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 3em;
    width: 96%;
    height: 3em;
    border-bottom: 1px solid var(--text-secondary);
}

.post-comment-input-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
    background-color: var(--background);
    border: none;
}

.post-comment-input-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    padding-left: 0.5em;
    background-color: var(--background);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
}

.post-comment-input-text:focus {
    outline: none;
}

.post-comment-input-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.post-modal-settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.post-modal-settings-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 10em;
    width: 20em;
    height: 29em;
    border-radius: 1em;
    z-index: 1001;
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.border {
    border-bottom: 1px solid var(--border);
}

.post-modal-settings-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.post-modal-settings-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 102%;
    height: 3.2em;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}

.post-modal-settings-item-warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 102%;
    height: 3.2em;
    color: var(--error);
    transition: all 0.2s ease-in-out;
}

.post-modal-settings-item-warning:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

.post-modal-settings-item:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

.post-modal-settings-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 102%;
    height: 3.2em;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}

.post-modal-settings-cancel:hover {
    cursor: pointer;
    background-color: var(--background-hover);
    color: var(--error);
}

.post-text strong:hover {
    cursor: pointer;
    opacity: 0.7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.post-verified-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -0.1em;
    width: 1.2em;
    height: 1.2em;
}