@import url("https://use.typekit.net/eos0jmw.css");

* {
    font-family: "articulat-cf", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--text);
}

:root {
    --primary-color: #FFFC31;
    --white: #FFFFF8;
    --offwhite: #F8F8F1;
    --black: #1F1E1E;
    --grey: #77878B;
    --light-grey: #B8C0BE;
    --dark-grey: #312F2F;
    --error: #DA3E52;
    --success: #63E979;
    --receiver: #3F88C5;
    --sender: #969696;
}

.light {
    --background: var(--white);
    --text: var(--black);
    --text-secondary: var(--grey);
    --text-tertiary: var(--dark-grey);
    --success: var(--success);
    --border: rgba(0, 0, 0, 0.1);
    --background-active: var(--light-grey);
    --background-hover: rgba(0, 0, 0, 0.1);
}

.dark {
    --background: var(--black);
    --text: var(--white);
    --text-secondary: var(--grey);
    --text-tertiary: var(--dark-grey);
    --success: var(--success);
    --border: rgba(255, 255, 255, 0.1);
    --background-active: var(--light-grey);
    --background-hover: rgba(255, 255, 255, 0.1);
}

body {
    background: var(--background);
    color: var(--text);
}