.change-profile-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.change-profile-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3000;
    width: 20em;
    height: 15em;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.5em;
    overflow: hidden;
}

.change-profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.change-profile-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0.5em 0;
}

.change-profile-form-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    color: var(--text);
}

.change-profile-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    background: none;
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 0.5em;
}

.change-profile-form-input:focus {
    outline: none;
}

.change-profile-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    margin: 0.5em 0;
    font-size: 1.2em;
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 0.5em;
    transition: all 0.2s ease-in-out;
}

.change-profile-form-button-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    margin: 0.5em 0;
    font-size: 1.2em;
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 0.5em;
    transition: all 0.2s ease-in-out;
}

.change-profile-form-button:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

.change-profile-form-button-cancel:hover {
    cursor: pointer;
    background-color: var(--background-hover);
    color: var(--error);
}